<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora IMC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calculadora IMC</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-input label="Altura (metros)" [(ngModel)]="altura"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Peso (kilogramos)" [(ngModel)]="peso"></ion-input>
    </ion-item>
    <ion-button (click)="calcularIMC()">Calcular</ion-button>

    <ion-item *ngIf="imc !== null">
      <ion-label>IMC:</ion-label>
      <ion-text>{{ imc }}</ion-text>
    </ion-item>
  </div>
</ion-content>

